.cartDetails{
    position: sticky;
    top: 0;
    padding: 0px 20px;
}
.cartBtnClear{
    height: 30px;
    width: 90px;
    margin-top: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    background-color: azure;
    cursor: pointer;
    
}
.cartBtnClear:hover{
    background-color: rgb(199, 240, 240);
}