.university-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(235, 232, 238);
}

.course-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    
}
.cartContainer{
    background-color: #81b8f2;
}
.cartContainer:hover{
    background-color: #77b1ee;
}
.cartBtnClear{
    height: 30px;
    width: 90px;
    margin: 20px 20px;
    border: none;
    border-radius: 10px;
    background-color: azure;
    cursor: pointer;
    position: sticky;    
}
.cartBtnClear:hover{
    background-color: rgb(199, 240, 240);
}

@media screen  and (max-width: 500px) {
    .course-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    } 
    .university-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: rgb(235, 232, 238);
    }
    
}