.university-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(235, 232, 238);
}

.course-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    
}
.cartContainer{
    background-color: #81b8f2;
}
.cartContainer:hover{
    background-color: #77b1ee;
}

@media screen  and (max-width: 500px) {
    .course-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    } 
    .university-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: rgb(235, 232, 238);
    }
    
}